NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_EMAILS=
WALLET_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
MERCURY_API_TOKEN=
MERCURY_ACCOUNT_ID=
CRON_SECRET=
